.header {
  .logo-area {
    display: flex;
    justify-content: center;
    padding: 10px 0 5px;
  }

  h1,
  .logo {
    display: inline-block;
  }
  .navigation {
    background: #000;

    li {
      display: inline-block;
      padding: 5px 15px;

      a {
        color: #fff;
      }
    }
  }
}